numpy
SpeechRecognition
pvrecorder
pvporcupine
python-dotenv
langchain
langchain-openai
langchain_core
sounddevice
soundfile
sqlalchemy == 2.0.25
pymysql
pandas == 2.1.4
pinecone == 4.0.0
spotipy
selenium == 4.20.0
tensorflow
keras
scikit-learn == 1.4.0
nlpaug
torch
sentence-transformers
librosa
serial
pyserial