python
numpy
pandas
SpeechRecognition
pvrecorder
pvporcupine
python-dotenv
langchain
langchain-openai
langchain_core
sounddevice
soundfile
sqlalchemy
pymysql
re
pinecone
spotipy
selenium
librosa 0.10.2
tqdm
glob